Schema/PipeClassTransfer-Schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  This file PipeClassTransfer-Schema.xsd is part of PipeClassTransfer
  Copyright (C) 2020 SIGMA Ingenieurgesellschaft mbH, Unna, Germany
  
  PipeClassTransfer is free software: you can redistribute it and/or modify
  it under the terms of the GNU Lesser General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  PipeClassTransfer is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Lesser General Public License for more details.
  
  You should have received a copy of the GNU Lesser General Public License
  along with PipeClassTransfer.  If not, see <http://www.gnu.org/licenses/>.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:simpleType name="guid">
        <xs:annotation>
            <xs:documentation>
                Globally Unique Identifier, see https://en.wikipedia.org/wiki/Universally_unique_identifier
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="CalculationBase">
        <xs:annotation>
            <xs:documentation>
                Enumeration of used Calcualtion standards
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="EN Rating">
                <xs:annotation>
                    <xs:documentation>
                        Calculation acc. to EN ratings
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ASME Rating">
                <xs:annotation>
                    <xs:documentation>
                        Calculation acc. to ASME ratings
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DIN 2413">
                <xs:annotation>
                    <xs:documentation>
                        Calculation acc. to DIN 2413
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TRD">
                <xs:annotation>
                    <xs:documentation>
                        Calculation acc. to TRD
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AD 2000">
                <xs:annotation>
                    <xs:documentation>
                        Calculation acc. to AD 2000
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EN 12952">
                <xs:annotation>
                    <xs:documentation>
                        Calculation acc. to EN 12952
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EN 13445">
                <xs:annotation>
                    <xs:documentation>
                        Calculation acc. to EN 13445
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EN 13480">
                <xs:annotation>
                    <xs:documentation>
                        Calculation acc. to EN 13480
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ASME B31.1">
                <xs:annotation>
                    <xs:documentation>
                        Calculation acc. to ASME B31.1
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ASME B31.3">
                <xs:annotation>
                    <xs:documentation>
                        Calculation acc. to ASME B31.3
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ASME I">
                <xs:annotation>
                    <xs:documentation>
                        Calculation acc. to ASME I
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ASME VIII">
                <xs:annotation>
                    <xs:documentation>
                        Calculation acc. to ASME VIII
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="LoadcaseData">
        <xs:annotation>
            <xs:documentation>
                Loadcase Definition
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="LoadcaseDataId" type="guid" use="required">
            <xs:annotation>
                <xs:documentation>
                    Unique Id of the Loadcase
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Temperature" type="xs:decimal" use="required">
            <xs:annotation>
                <xs:documentation>
                    Temperature of this Loadcase
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Pressure" type="xs:decimal" use="required">
            <xs:annotation>
                <xs:documentation>
                    Pressure of this Loadcase
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
		<xs:attribute name="TypeOfLoadcase" use="required">
            <xs:annotation>
                <xs:documentation>
                    Type of the Loadcase; 0 = Operation, 1 = Test, 2 = Montage
                </xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:enumeration value="0"/>
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
				</xs:restriction>
			</xs:simpleType>
        </xs:attribute>
        <xs:attribute name="Desc" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    Description of the Loadcase
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="Material">
        <xs:annotation>
            <xs:documentation>
                Material Definition
            </xs:documentation>
        </xs:annotation>        
        <xs:attribute name="MaterialID" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    Material-ID acc. to the Definition of the exporting Program
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Desc" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    Descriptive Name of the Definition as a Fallback-Value for the user to choose the correct Material on import
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="StandardDef">
        <xs:annotation>
            <xs:documentation>
                Standard Definition
            </xs:documentation>
        </xs:annotation>        
        <xs:attribute name="StandardID" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    Standard-ID acc. to the Definition of the exporting Program
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Desc" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    Descriptive Name of the Definition as a Fallback-Value for the user to choose the correct Standard on import
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="Component">
        <xs:annotation>
            <xs:documentation>
                Base-Type for Pipe-Class Components
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Material" type="Material" maxOccurs="1" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Definition of Material
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Standard" type="StandardDef" maxOccurs="1" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Definition of Component Standard
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="ComponentId" type="guid" use="required">
            <xs:annotation>
                <xs:documentation>
                    Unique Id of the Component
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="CalcBase" type="CalculationBase" use="required">
            <xs:annotation>
                <xs:documentation>
                    The calculation Standard used for the analysis of this component
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Desc" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    Description of the Component
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Length" type="xs:decimal">
            <xs:annotation>
                <xs:documentation>
                    Length of component
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="V" type="xs:decimal">
            <xs:annotation>
                <xs:documentation>
                    Welding-factor
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="GroupId" type="guid">
            <xs:annotation>
                <xs:documentation>
                    Group ID of this Component, see https://github.com/sigmaIngUn/PipeClassTransfer/wiki/Group
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
		<xs:attribute name="Dimension" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    Dimension name for identification
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Schedule" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    Schedule of the Component
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="Pipe">
        <xs:annotation>
            <xs:documentation>
                Type to describe input values for straight Pipes, extends Component
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="Component">
                <xs:sequence>
				  <xs:element name="C_Mill_Standard" type="StandardDef" maxOccurs="1">
					<xs:annotation>
					  <xs:documentation>
						Definition of Components Mill-Tolerance Standard
					  </xs:documentation>
				   </xs:annotation>
				  </xs:element>
                </xs:sequence>
				<xs:attribute name="S" type="xs:decimal" use="required">
					<xs:annotation>
						<xs:documentation>
							Wall-Thickness
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="Do" type="xs:decimal" use="required">
					<xs:annotation>
						<xs:documentation>
							Outside-Diameter
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="DoNo" type="xs:string">
					<xs:annotation>
						<xs:documentation>
							Outer-diameter standard row or bending radius standard row.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="C_Mill" type="xs:decimal" use="required">
					<xs:annotation>
						<xs:documentation>
							Mill-Tolerance value
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="C_Mill_Percent" type="xs:integer" use="required">
					<xs:annotation>
						<xs:documentation>
							Switch if C_Mill was calculated from %
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="C_Allowance" type="xs:decimal" use="required">
					<xs:annotation>
						<xs:documentation>
							Add. inner allowance
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="C_Allowance_Outer" type="xs:decimal" use="required">
					<xs:annotation>
						<xs:documentation>
							Add. outer allowance
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Bend">
        <xs:annotation>
            <xs:documentation>
                Type to describe input values for bend Pipes and elbows, extends Pipe
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="Pipe">
                <xs:attribute name="Si" type="xs:decimal">
                    <xs:annotation>
                        <xs:documentation>
                            Wall-thickness intrados
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="So" type="xs:decimal">
                    <xs:annotation>
                        <xs:documentation>
                            Wall-thickness extrados
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="Radius" type="xs:decimal" use="required">
                    <xs:annotation>
                        <xs:documentation>
                            Bending radius
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
				<xs:attribute name="Type">
                    <xs:annotation>
                        <xs:documentation>
                            Type of Bend, Bend = 1, Elbow = 2
                        </xs:documentation>
                    </xs:annotation>
					<xs:simpleType>
                        <xs:restriction base="xs:integer">
                            <xs:minInclusive value="1"/>
                            <xs:maxInclusive value="2"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
				<xs:attribute name="StrPipeUtil" type="xs:decimal">
                    <xs:annotation>
                        <xs:documentation>
                            Allowed utilization of straight pipe
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Tee">
        <xs:annotation>
            <xs:documentation>
                Type to describe input values for Tees, extends Component
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="Component">
                <xs:sequence>
                    <xs:element name="MaterialPad" type="Material" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>
                                Material of reinforcement-pad
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Run" type="Pipe" maxOccurs="1" minOccurs="1">
                        <xs:annotation>
                            <xs:documentation>
                                Holds the data of the Tees run pipe
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Branch" type="Pipe" maxOccurs="1" minOccurs="1">
                        <xs:annotation>
                            <xs:documentation>
                                Holds the data of the Tees branch pipe
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="Reinf" type="xs:integer" use="required">
                    <xs:annotation>
                        <xs:documentation>
                            Switch if component has reinforcement pad
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="InternalProj" type="xs:decimal" use="required">
                    <xs:annotation>
                        <xs:documentation>
                            Internal projection
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="Extruded" type="xs:integer" use="required">
                    <xs:annotation>
                        <xs:documentation>
                            Switch if Tee is extruded
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="WidthPad" type="xs:decimal">
                    <xs:annotation>
                        <xs:documentation>
                            Width of reinforcement-pad
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="ThicknessPad" type="xs:decimal">
                    <xs:annotation>
                        <xs:documentation>
                            Thickness of reinforcement-pad
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="StrPipeUtil" type="xs:decimal">
                    <xs:annotation>
                        <xs:documentation>
                            Allowed utilization of straight pipe
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
				<xs:attribute name="TypeOfBranch">
                    <xs:annotation>
                        <xs:documentation>
                            Type of the Branch, see dokumentation
                        </xs:documentation>
                    </xs:annotation>
					<xs:simpleType>
                        <xs:restriction base="xs:integer">
                            <xs:enumeration value="0"/>
                            <xs:enumeration value="5"/>
                            <xs:enumeration value="1"/>
                            <xs:enumeration value="2"/>
                            <xs:enumeration value="4"/>
                            <xs:enumeration value="3"/>
                            <xs:enumeration value="6"/>
                            <xs:enumeration value="7"/>
                            <xs:enumeration value="8"/>
                            <xs:enumeration value="9"/>
                            <xs:enumeration value="11"/>
                            <xs:enumeration value="12"/>
                            <xs:enumeration value="14"/>
                            <xs:enumeration value="31"/>
                            <xs:enumeration value="32"/>
                            <xs:enumeration value="34"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Reducer">
        <xs:annotation>
            <xs:documentation>
                Type to describe input values for reducers, extends Component
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="Component">
                <xs:sequence>
                    <xs:element name="LargeConnection" type="Pipe" maxOccurs="1" minOccurs="1">
                        <xs:annotation>
                            <xs:documentation>
                                Holds the data of the Reducers large connection
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="SmallConnection" type="Pipe" maxOccurs="1" minOccurs="1">
                        <xs:annotation>
                            <xs:documentation>
                                Holds the data of the Reducers small connection
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="StrPipeUtil" type="xs:decimal">
                    <xs:annotation>
                        <xs:documentation>
                            Allowed utilization of straight pipe
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="Alpha" type="xs:decimal">
                    <xs:annotation>
                        <xs:documentation>
                            Half Cone-Angle
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="Type">
					<xs:annotation>
                        <xs:documentation>
                            Type of reducer, Concentric = 1, Excentric = 2
						</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:integer">
                            <xs:minInclusive value="1"/>
                            <xs:maxInclusive value="2"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="HasKnuckle" type="xs:integer" use="required">
                    <xs:annotation>
                        <xs:documentation>
                            Switch if the Reducer has knuckles
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
	
    <xs:complexType name="Cap">
        <xs:annotation>
            <xs:documentation>
                Type to describe input values for caps, extends Component
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="Component">
				<xs:sequence>
                  <xs:element name="C_Mill_Standard" type="StandardDef" maxOccurs="1">
                    <xs:annotation>
                      <xs:documentation>
                        Definition of Components Mill-Tolerance Standard
                      </xs:documentation>
                   </xs:annotation>
                  </xs:element>
                </xs:sequence>
				<xs:attribute name="C_Mill" type="xs:decimal" use="required">
                    <xs:annotation>
                        <xs:documentation>
                            Mill-Tolerance value
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="C_Mill_Percent" type="xs:integer" use="required">
                    <xs:annotation>
                        <xs:documentation>
                            Switch if C_Mill was calculated from %
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="C_Allowance" type="xs:decimal" use="required">
                    <xs:annotation>
                        <xs:documentation>
                            Add. inner allowance
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
				<xs:attribute name="C_Allowance_Outer" type="xs:decimal" use="required">
                    <xs:annotation>
                        <xs:documentation>
                            Add. outer allowance
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
				<xs:attribute name="S" type="xs:decimal" use="required">
                    <xs:annotation>
                        <xs:documentation>
                            Wall-Thickness
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
				<xs:attribute name="Do" type="xs:decimal" use="required">
                    <xs:annotation>
                        <xs:documentation>
                            The outer diameter of the Cap
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="Type" >
                    <xs:annotation>
                        <xs:documentation>
                            Type of cap
                        </xs:documentation>
                    </xs:annotation>  
                    <xs:simpleType>
                        <xs:restriction base="xs:integer">
                            <xs:minInclusive value="21"/>
                            <xs:maxInclusive value="22"/>
                        </xs:restriction>
                    </xs:simpleType>					
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    	
    <xs:complexType name="Flange">
        <xs:annotation>
            <xs:documentation>
                Type to describe input values for flanges, extends Component
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="Component">
				<xs:sequence>
				  <xs:element name="C_Mill_Standard" type="StandardDef" minOccurs="0" maxOccurs="1">
					<xs:annotation>
					  <xs:documentation>
						Definition of Components Mill-Tolerance Standard
					  </xs:documentation>
				   </xs:annotation>
				  </xs:element>
				</xs:sequence>
				<xs:attribute name="TypeOfFlange" >
					<xs:annotation>
						<xs:documentation>
							Type of flange, see documentation
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
                        <xs:restriction base="xs:integer">
                            <xs:enumeration value="101"/>
                            <xs:enumeration value="302"/>
                            <xs:enumeration value="304"/>
                            <xs:enumeration value="105"/>
                            <xs:enumeration value="111"/>
                            <xs:enumeration value="112"/>
                            <xs:enumeration value="113"/>
                            <xs:enumeration value="121"/>
                            <xs:enumeration value="201"/>
                            <xs:enumeration value="211"/>
                            <xs:enumeration value="217"/>
                            <xs:enumeration value="218"/>
                            <xs:enumeration value="219"/>
                        </xs:restriction>
                    </xs:simpleType>
				</xs:attribute>
				<xs:attribute name="DN" type="xs:decimal">
					<xs:annotation>
						<xs:documentation>
							The nominal diameter of the Flange
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="PN" type="xs:decimal">
					<xs:annotation>
						<xs:documentation>
							The nominal pressure of the Flange
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="C_Mill" type="xs:decimal" use="required">
					<xs:annotation>
						<xs:documentation>
							Mill-Tolerance value
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="C_Mill_Percent" type="xs:integer" use="required">
					<xs:annotation>
						<xs:documentation>
							Switch if C_Mill was calculated from %
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="C_Allowance" type="xs:decimal" use="required">
					<xs:annotation>
						<xs:documentation>
							Add. inner allowance
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="C_Allowance_Outer" type="xs:decimal" use="required">
					<xs:annotation>
						<xs:documentation>
							Add. outer allowance
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="S" type="xs:decimal" use="required">
					<xs:annotation>
						<xs:documentation>
							Wall-Thickness
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
        </xs:complexContent>
    </xs:complexType>

	<xs:complexType name="Blank">
        <xs:annotation>
            <xs:documentation>
                Type to describe input values for Blank, extends Component
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>		
            <xs:extension base="Component">
				<xs:sequence>
                  <xs:element name="C_Mill_Standard" type="StandardDef" maxOccurs="1">
                    <xs:annotation>
                      <xs:documentation>
                        Definition of Components Mill-Tolerance Standard
                      </xs:documentation>
                   </xs:annotation>
                  </xs:element>
                </xs:sequence>
				<xs:attribute name="DN" type="xs:decimal">
					<xs:annotation>
						<xs:documentation>
							The nominal diameter of the Blank
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="PN" type="xs:decimal">
					<xs:annotation>
						<xs:documentation>
							The nominal pressure of the Blank
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="C_Mill" type="xs:decimal" use="required">
					<xs:annotation>
						<xs:documentation>
							Mill-Tolerance value
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="C_Mill_Percent" type="xs:integer" use="required">
					<xs:annotation>
						<xs:documentation>
							Switch if C_Mill was calculated from %
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="C_Allowance" type="xs:decimal" use="required">
					<xs:annotation>
						<xs:documentation>
							Add. inner allowance
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="C_Allowance_Outer" type="xs:decimal" use="required">
					<xs:annotation>
						<xs:documentation>
							Add. outer allowance
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="S" type="xs:decimal" use="required">
					<xs:annotation>
						<xs:documentation>
							Wall-Thickness
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="Type" use="required">
					<xs:annotation>
						<xs:documentation>
							Type of Blank
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
                        <xs:restriction base="xs:integer">
                            <xs:enumeration value="400"/>
                            <xs:enumeration value="401"/>
                            <xs:enumeration value="402"/>
                            <xs:enumeration value="403"/>
                            <xs:enumeration value="404"/>
                            <xs:enumeration value="406"/>
                        </xs:restriction>
                    </xs:simpleType>
				</xs:attribute>
			</xs:extension>
        </xs:complexContent>
	</xs:complexType>
	
    <xs:complexType name="Components">
        <xs:annotation>
            <xs:documentation>
                Container-Element for Component
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Component" type="Component" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        List of Components
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="Loadcases">
        <xs:annotation>
            <xs:documentation>
                Container-Element for Loadcases
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="LoadcaseData" type="LoadcaseData" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        List of Loadcases
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PipeClassData">
        <xs:annotation>
            <xs:documentation>
                Contains the Pipe-Class data
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Components" type="Components">
                <xs:annotation>
                    <xs:documentation>
                        List of Components of this Pipe-Class
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Loadcases" type="Loadcases">
                <xs:annotation>
                    <xs:documentation>
                        List of Loadcases of this Pipe-Class
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
		<xs:attribute name="PipeClassId" type="guid" use="required">
            <xs:annotation>
                <xs:documentation>
                    Unique Id of this PipeClass
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Description" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    Description of Pipe-Class
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="PipeClasses">
        <xs:annotation>
            <xs:documentation>
                Container-Element for PipeClassData
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PipeClassData" type="PipeClassData" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        List of Pipe-Classes
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="UnitOfMeasure">
        <xs:annotation>
            <xs:documentation>
                Enumeration of used Units of Measure
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="SI">
                <xs:annotation>
                    <xs:documentation>
                        Values in the SI-Standard, Lengths in mm!
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="US">
                <xs:annotation>
                    <xs:documentation>
                        Values in US-Customary Units, Lengths in inch
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="PipeClassTransferData">
        <xs:annotation>
            <xs:documentation>
                The Type for the root-element
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PipeClasses" type="PipeClasses">
                <xs:annotation>
                    <xs:documentation>List of Pipe-Classes</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="ExporterID" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    ID of the exporting Programm see https://github.com/sigmaIngUn/PipeClassTransfer/wiki/KnownExporters /&gt;
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="FileVersion" type="xs:integer" use="required">
            <xs:annotation>
                <xs:documentation>
                    Version of this Schema
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Unit" type="UnitOfMeasure" use="required">
            <xs:annotation>
                <xs:documentation>
                    The unit of Measure used for Data Input
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:element name="PipeClassTransferData" type="PipeClassTransferData">
        <xs:annotation>
            <xs:documentation>
                The root-element
            </xs:documentation>
        </xs:annotation>
    </xs:element>
</xs:schema>
